.imgg{
    width: 360px;
    height: 500px;

}
.cell_3{
    grid-row: 5/7;
    grid-column:1/1 ;
}
.cell_4{
    grid-row: 5/7;
    grid-column:2/2 ; 
}
.cell_5{
    grid-row: 5/7;
    grid-column:3/3 ; 
}